flows.json
[{"id":"4233c699.044a48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"647e6f0e.24f2f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4297e5b.9eca01c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d709644e.2ceb48","type":"ui_group","z":"","name":"Default","tab":"4297e5b.9eca01c","disp":true,"width":"22","collapse":false},{"id":"8b91f68d.20fd58","type":"MSSQL-UCGv2-CN","z":"","name":"","server":"AIDINA\\SQLEXPRESS","port":"1433","encyption":false,"database":"TestDb","pool":"20","connectionTimeout":"16000","requestTimeout":"150000"},{"id":"8f97a9c.df6c658","type":"MSSQL-CN","z":"","name":"","server":"AIDINA\\SQLEXPRESS","encyption":false,"database":"TestDb"},{"id":"1919a0f3.c2f13f","type":"ui_group","name":"Group 2","tab":"4297e5b.9eca01c","order":2,"disp":true,"width":6},{"id":"105561f3.baadee","type":"inject","z":"4233c699.044a48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":286.5729217529297,"y":221.97223663330078,"wires":[["db4eb179.ca65f"]]},{"id":"db4eb179.ca65f","type":"function","z":"4233c699.044a48","name":"","func":"msg.payload = {\n    name: \"Chrome\",\n    percent: 100\n};\nreturn msg;","outputs":1,"noerr":0,"x":522.5799102783203,"y":225.63541412353516,"wires":[["27998b3e.4f5414"]]},{"id":"27998b3e.4f5414","type":"ui_template","z":"4233c699.044a48","group":"d709644e.2ceb48","name":"","order":0,"width":"22","height":"2","format":"<p>{{msg.payload.name}}</p>\n<p>{{msg.payload.percent}}</p>\n\n<script>\n  \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":737.5799102783203,"y":225.25348663330078,"wires":[[]]},{"id":"ca87cb77.1174c8","type":"inject","z":"4233c699.044a48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":277.0173645019531,"y":348.0104064941406,"wires":[["b8e8a290.7fe05"]]},{"id":"b8e8a290.7fe05","type":"function","z":"4233c699.044a48","name":"","func":"msg.payload = {\n    browsers: [\n        {name: \"Chrome\", percent: 55},\n        {name: \"Firefox\", percent: 45}\n    ]\n\n};\nreturn msg;","outputs":1,"noerr":0,"x":513.0243530273438,"y":351.673583984375,"wires":[["d16ee146.31f49"]]},{"id":"d16ee146.31f49","type":"ui_template","z":"4233c699.044a48","group":"d709644e.2ceb48","name":"","order":0,"width":"22","height":"2","format":"<p>{{test}}</p>\n\n<p id=\"demo\"></p>\n\n<script>\nvar test1;\n  ;(function(scope) {\n      scope.$watch('msg', function (msg) {\n          scope.test = msg.payload.browsers[0].name\n          //test = msg.payload.browsers[0].name\n      }); //scope.$watch END\n  })(scope); //;(function(scope) END\n\n\ntest1 = $scope().test;\n\ndocument.getElementById(\"demo\").innerHTML = test1;\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":728.0243530273438,"y":351.2916564941406,"wires":[[]]},{"id":"7fdf115e.3cb9f","type":"inject","z":"4233c699.044a48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":241.01734924316406,"y":489.0104064941406,"wires":[["36121033.30ec5"]]},{"id":"36121033.30ec5","type":"function","z":"4233c699.044a48","name":"","func":"msg.payload = {\n    browsers: [\n        {name: \"Chrome\", percent: 55},\n        {name: \"Firefox\", percent: 45}\n    ]\n\n};\nreturn msg;","outputs":1,"noerr":0,"x":477.0243377685547,"y":492.673583984375,"wires":[["caa87506.fff888"]]},{"id":"caa87506.fff888","type":"ui_template","z":"4233c699.044a48","group":"d709644e.2ceb48","name":"","order":0,"width":"22","height":"8","format":"<!DOCTYPE HTML> \n<html>\n\t<head>\n\t\t<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t\t<title>Highcharts Example</title>\n\n\t\t<style type=\"text/css\">\n\n\t\t</style>\n\t</head>\n\t<body>\n\t\t<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n\t\t<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n\t\t<script src=\"https://code.highcharts.com/modules/export-data.js\"></script>\n\n<div id=\"container\" style=\"min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto\"></div>\n\n\n<script>\n;(function(scope) {\n    // timer check need or no later \n      var timer = setInterval(function() { //check that the Highcharts libs are loaded, if not wait\n        if (!window.Highcharts) return;\n             clearInterval(timer);\n \n      scope.$watch('msg', function (msg) {\n          if(msg) {\n            myData = msg\n            //scope.test = msg.payload.browsers[0].name\n                \n    Highcharts.chart('container', {\n    chart: {\n        plotBackgroundColor: null,\n        plotBorderWidth: null,\n        plotShadow: false,\n        type: 'pie'\n    },\n    title: {\n        text: 'Testing charts'\n    },\n    tooltip: {\n        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'\n    },\n    plotOptions: {\n        pie: {\n            allowPointSelect: true,\n            cursor: 'pointer',\n            dataLabels: {\n                enabled: true,\n                format: '<b>{point.name}</b>: {point.percentage:.1f} %'\n            }\n        }\n    },\n    series: [{\n        name: 'Browsers',\n        colorByPoint: true,\n\t        data: [{\n            name: myData.payload.browsers[0].name,\n            y:  myData.payload.browsers[0].percent,\n            sliced: true,\n            selected: true\n        }, {\n            name: myData.payload.browsers[1].name,\n            y: myData.payload.browsers[1].percent,\n        }]\n    }],\n    \n    responsive: {  \n  rules: [{  \n    condition: {  \n      maxWidth: 500  \n    },  \n    chartOptions: {  \n      legend: {  \n        enabled: false  \n      }  \n    }  \n  }]  \n}\n    \n    \n\t}); // close out Highcharts\n\t} //close out if msg\n\n\t\t}); //close out scope.$watch\n\t\t}, 100) // close out the setInterval\n})(scope); //close out ;(function(scope)\n\n\n\t\t</script>\n\t</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":692.0243377685547,"y":492.2916564941406,"wires":[[]]},{"id":"750414c7.bf83ac","type":"MSSQL-UCGv2","z":"4233c699.044a48","mssqlCN":"8b91f68d.20fd58","name":"SQL","query":"Select * from rejecttest","outField":"payload","x":459.01734161376953,"y":638.0104484558105,"wires":[["6967f24e.4fe23c","c143d396.05492"]]},{"id":"3abf6442.a3feac","type":"inject","z":"4233c699.044a48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":208.4583625793457,"y":647.9615602493286,"wires":[["750414c7.bf83ac"]]},{"id":"6967f24e.4fe23c","type":"debug","z":"4233c699.044a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":741.0138359069824,"y":637.8750047683716,"wires":[]},{"id":"c143d396.05492","type":"ui_template","z":"4233c699.044a48","group":"d709644e.2ceb48","name":"","order":0,"width":"22","height":"6","format":"<!DOCTYPE HTML> \n<html>\n\t<head>\n\t\t<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t\t<title>Highcharts Example</title>\n\n\t\t<style type=\"text/css\">\n\n\t\t</style>\n\t</head>\n\t<body>\n\t\t<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n\t\t<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n\t\t<script src=\"https://code.highcharts.com/modules/export-data.js\"></script>\n\n<div id=\"container2\" style=\"min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto\"></div>\n\n\n<script>\n;(function(scope) {\n    // timer check need or no later \n      var timer = setInterval(function() { //check that the Highcharts libs are loaded, if not wait\n        if (!window.Highcharts) return;\n             clearInterval(timer);\n \n      scope.$watch('msg', function (msg) {\n          if(msg) {\n            myData = msg\n            //scope.test = msg.payload.browsers[0].name\n                \n    Highcharts.chart('container2', {\n    chart: {\n        plotBackgroundColor: null,\n        plotBorderWidth: null,\n        plotShadow: false,\n        type: 'pie'\n    },\n    title: {\n        text: 'From reject table'\n    },\n    tooltip: {\n        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'\n    },\n    plotOptions: {\n        pie: {\n            allowPointSelect: true,\n            cursor: 'pointer',\n            dataLabels: {\n                enabled: true,\n                format: '<b>{point.name}</b>: {point.percentage:.1f} %'\n            }\n        }\n    },\n    series: [{\n        name: 'Rejects',\n        colorByPoint: true,\n\t        data: [{\n            name: myData.payload[0].Name,\n            y:  myData.payload[0].Quantity,\n            sliced: true,\n            selected: true\n        }, {\n            name: myData.payload[1].Name,\n            y: myData.payload[1].Quantity,\n        }, {\n            name: myData.payload[2].Name,\n            y: myData.payload[2].Quantity,\n        }]\n    }]\n\t}); // close out Highcharts\n\t} //close out if msg\n\n\t\t}); //close out scope.$watch\n\t\t}, 100) // close out the setInterval\n})(scope); //close out ;(function(scope)\n\n\n\t\t</script>\n\t</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":726.0173568725586,"y":776.2327299118042,"wires":[[]]},{"id":"5a66de7b.23599","type":"ui_template","z":"4233c699.044a48","d":true,"group":"d709644e.2ceb48","name":"pull out from db","order":0,"width":"22","height":"13","format":"<!DOCTYPE HTML> \n<html>\n\t<head>\n\t\t<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t\t<title>Highcharts Example</title>\n\n\t\t<style type=\"text/css\">\n\n\t\t</style>\n\t</head>\n\t<body>\n\n<p>{{reject}}</p>\n\n<script>\n;(function(scope) {\n      scope.$watch('msg', function (msg) {\n          if(msg) {\n            scope.reject = msg.payload[0].Name\n\t    } //close out if msg\n\t}); //close out scope.$watch\n})(scope); //close out ;(function(scope)\n\n\n\t\t</script>\n\t</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1194.017333984375,"y":443.4548645019531,"wires":[[]]},{"id":"195182f4.487b8d","type":"inject","z":"4233c699.044a48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":237.01734924316406,"y":893.4548950195312,"wires":[["d8bde9f.6fcdc18"]]},{"id":"d8bde9f.6fcdc18","type":"function","z":"4233c699.044a48","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":474.02435302734375,"y":900.1180934906006,"wires":[["b849e759.6f18c8"]]},{"id":"b849e759.6f18c8","type":"ui_template","z":"4233c699.044a48","group":"d709644e.2ceb48","name":"","order":0,"width":"22","height":"10","format":"\n<!DOCTYPE HTML>\n<html>\n\t<head>\n\t\t<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t\t<title>Highcharts Example</title>\n\n\t\t<style type=\"text/css\">\n#container {\n    min-width: 310px;\n    height: 400px;\n    margin: 0 auto;\n}\n\t\t</style>\n\t</head>\n\t<body>\n\t\t<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n\t\t<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n\t\t<script src=\"https://code.highcharts.com/modules/export-data.js\"></script>\n\n<div id=\"container3\"></div>\n\n\n\n\t\t<script type=\"text/javascript\">\nHighcharts.chart('container3', {\n    chart: {\n        type: 'spline',\n        animation: Highcharts.svg, // don't animate in old IE\n        marginRight: 10,\n        events: {\n            load: function () {\n\n                // set up the updating of the chart each second\n                var series = this.series[0];\n                setInterval(function () {\n                    var x = (new Date()).getTime(), // current time\n                        y = Math.random();\n                    series.addPoint([x, y], true, true);\n                }, 1000);\n            }\n        }\n    },\n\n    time: {\n        useUTC: false\n    },\n\n    title: {\n        text: 'Live random data'\n    },\n    xAxis: {\n        type: 'datetime',\n        tickPixelInterval: 150\n    },\n    yAxis: {\n        title: {\n            text: 'Value'\n        },\n        plotLines: [{\n            value: 0,\n            width: 1,\n            color: '#808080'\n        }]\n    },\n    tooltip: {\n        headerFormat: '<b>{series.name}</b><br/>',\n        pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'\n    },\n    legend: {\n        enabled: false\n    },\n    exporting: {\n        enabled: false\n    },\n    series: [{\n        name: 'Random data',\n        data: (function () {\n            // generate an array of random data\n            var data = [],\n                time = (new Date()).getTime(),\n                i;\n\n            for (i = -19; i <= 0; i += 1) {\n                data.push({\n                    x: time + i * 1000,\n                    y: Math.random()\n                });\n            }\n            return data;\n        }())\n    }]\n});\n\t\t</script>\n\t</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":759.0243453979492,"y":895.736255645752,"wires":[[]]},{"id":"8c27367c.227de8","type":"inject","z":"4233c699.044a48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":233.01734924316406,"y":1061.7882080078125,"wires":[["c181d651.bf7db8"]]},{"id":"c181d651.bf7db8","type":"function","z":"4233c699.044a48","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":470.02435302734375,"y":1068.4514064788818,"wires":[["c6e8a316.d5e31"]]},{"id":"c6e8a316.d5e31","type":"ui_template","z":"4233c699.044a48","group":"d709644e.2ceb48","name":"","order":0,"width":"22","height":"10","format":"\n<!DOCTYPE HTML>\n<html>\n\t<head>\n\t\t<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t\t<title>Highcharts Example</title>\n\n\t\t<style type=\"text/css\">\n#container {\n\theight: 300px;\n\tmin-width: 310px;\n\tmax-width: 800px;\n    margin: 0 auto;\n}\n#button-bar {\n    min-width: 310px;\n    max-width: 800px;\n    margin: 0 auto;\n}\n\t\t</style>\n\t</head>\n\t<body>\n\t\t<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n\n<div id=\"container4\"></div>\n\n<div id=\"button-bar\">\n    <button id=\"small\">Small</button>\n    <button id=\"large\">Large</button>\n    <button id=\"auto\">Auto</button>\n</div>\n\n\n\t\t<script type=\"text/javascript\">\nvar chart = Highcharts.chart('container4', {\n\n    chart: {\n        type: 'column'\n    },\n\n    title: {\n        text: 'Highcharts responsive chart'\n    },\n\n    subtitle: {\n        text: 'Resize the frame or click buttons to change appearance'\n    },\n\n    legend: {\n        align: 'right',\n        verticalAlign: 'middle',\n        layout: 'vertical'\n    },\n\n    xAxis: {\n        categories: ['Apples', 'Oranges', 'Bananas'],\n        labels: {\n            x: -10\n        }\n    },\n\n    yAxis: {\n        allowDecimals: false,\n        title: {\n            text: 'Amount'\n        }\n    },\n\n    series: [{\n        name: 'Christmas Eve',\n        data: [1, 4, 3]\n    }, {\n        name: 'Christmas Day before dinner',\n        data: [6, 4, 2]\n    }, {\n        name: 'Christmas Day after dinner',\n        data: [8, 4, 3]\n    }],\n\n    responsive: {\n        rules: [{\n            condition: {\n                maxWidth: 500\n            },\n            chartOptions: {\n                legend: {\n                    align: 'center',\n                    verticalAlign: 'bottom',\n                    layout: 'horizontal'\n                },\n                yAxis: {\n                    labels: {\n                        align: 'left',\n                        x: 0,\n                        y: -5\n                    },\n                    title: {\n                        text: null\n                    }\n                },\n                subtitle: {\n                    text: null\n                },\n                credits: {\n                    enabled: false\n                }\n            }\n        }]\n    }\n});\n\ndocument.getElementById('small').addEventListener('click', function () {\n    chart.setSize(400);\n});\n\ndocument.getElementById('large').addEventListener('click', function () {\n    chart.setSize(600);\n});\n\ndocument.getElementById('auto').addEventListener('click', function () {\n    chart.setSize(null);\n});\n\n\t\t</script>\n\t</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":751.0243721008301,"y":1015.0695972442627,"wires":[[]]}]